extends ../layout

block content
	.columns(style="margin-left: 1%;  width: 98%; position: flex")
		.column.is-2.is-sidebar-menu.is-hidden-mobile
			aside.menu
				p.menu-label
					| General
				ul.menu-list
					li
						a(href="/dashboard").is-active Consultar Ocorrências
					li
						a(href="/ocorr/register") Registrar Ocorrências
					if permission == "admin"
						li
							a(href="/user") Policiais Cadastrados
		.column.is-main-content(style="width:100%")
			h1(class="title is-1") Ocorrências
			br
			if messages.erro
				.notification.is-danger
					strong #{messages.erro}
			if messages.info
				.notification.is-success
					strong #{messages.info}
			if lista
				if permission == "admin"
					table.table.is-bordered.is-striped.is-narrow.is-hoverable.is-fullwidth
						thead
							tr
								th
									abbr(title='Tipo') Tipo
								th
									abbr(title='Data') Data
								th
									abbr(title='Local') Local
								th
									abbr(title='Reporter') Reporter
								th
									abbr(title='Vítimas') Vítimas
								th
									abbr(title='Aprovada?') Aprovada?
								th
									abbr(title='Ações') Ações
						tbody
							each valor in lista
								tr
									th #{valor.type}
									th #{moment(valor.date).format('DD/MM/YYYY - HH:MM:ss')}
									th #{valor.local}
									th #{valor.reporter}
									th #{valor.vitims}
									th #{valor.approved}
									th 
										a.button.is-info(href='/ocorr/profile/#{valor._id}')
											span.icon
												i.far.fa-newspaper
										span &nbsp;

										if permission == "admin"
											a.button.is-primary(href='/ocorr/edit/#{valor._id}')
												span.icon
													i.far.fa-bookmark
										else
											a.button.is-primary(href='/ocorr/edit/#{valor._id}', disabled)
												span.icon
													i.far.fa-bookmark
										span &nbsp;
										if permission == "admin"
											form(method="POST", action="/ocorr/delete/#{valor._id}", role="form", style="display: inline-block", id="excluir-btn")
												button.button.is-danger(type="submit" ) Deletar
										else
											form(method="POST", action="/ocorr/delete/#{valor._id}", role="form", style="display: inline-block", id="excluir-btn")
												button.button.is-danger(type="submit", disabled) Deletar
										span &nbsp;
										if permission == "admin"
											form(method="POST", action="/ocorr/approve/#{valor._id}", role="form", style="display: inline-block", id="excluir-btn")
												button.button.is-danger(type="submit" ) Aprovar
										else
											form(method="POST", action="/ocorr/approve/#{valor._id}", role="form", style="display: inline-block", id="excluir-btn")
												button.button.is-danger(type="submit", disabled) Aprovar
				else
					table.table.is-bordered.is-striped.is-narrow.is-hoverable.is-fullwidth
						thead
							tr
								th
									abbr(title='Tipo') Tipo
								th
									abbr(title='Data') Data
								th
									abbr(title='Local') Local
								th
									abbr(title='Reporter') Reporter
								th
									abbr(title='Vítimas') Vítimas
								th
									abbr(title='Ações') Ações
						tbody
							each valor in lista
								if valor.approved == true
									tr
										th #{valor.type}
										th #{moment(valor.date).format('DD/MM/YYYY - HH:MM:ss')}
										th #{valor.local}
										th #{valor.reporter}
										th #{valor.vitims}
										th 
											a.button.is-info(href='/ocorr/profile/#{valor._id}')
												span.icon
													i.far.fa-newspaper
											span &nbsp;

			else
				p Nenhum Dado encontrado	