extends ../layout_clean

block content
	.container(style="width:85%; max-width: 450px")
		h1(class="title is-1") Editar perfil
		br
		if messages.erro
			.notification.is-danger
				strong #{messages.erro}
			br
		form(method="POST", action="/edit/#{dados._id}", role="form")
			.field
				label.label Name
				.control
					if dados
						input.input(type='text',name="name", placeholder='João Silva', value="#{dados.name}", required)
					else
						input.input(type='text',name="name", placeholder='João Silva', value="", autofocus, required)
			.field
				label.label Patente
				.control
					if dados
						input.input(type='text',name="patente", placeholder='Sargento', value="#{dados.patente}", required)
					else
						input.input(type='text',name="patente", placeholder='Sargento', value="", autofocus, required)
			.field
				label.label Idade
				.control
					if dados
						input.input(type='number',name="idade", placeholder='25', value="#{dados.idade}", required)
					else
						input.input(type='number',name="idade", placeholder='25', value="", autofocus, required)
			.field
				label.label Matrícula
				.control
					if dados
						input.input(type='number',name="matricula", placeholder='1234567', value="#{dados.matricula}", disabled, required)
					else
						input.input(type='number',name="matricula", placeholder='1234567', value="", disable, autofocus, required)

			.field
				label.label Email
				.control.has-icons-left.has-icons-right

					input.input(type='email', name="email", placeholder='hello@host',value="#{dados.email}", required)
					span.icon.is-small.is-left
						i.fas.fa-envelope
					span.icon.is-small.is-right
						i.fas.fa-exclamation-triangle

			.field.is-grouped
				.control
					button.button.is-primary(type="submit") Salvar

