extends ../layout

block content
	.columns(style="margin-left: 1%;  width: 98%; position: flex")
		.column.is-2.is-sidebar-menu.is-hidden-mobile
			aside.menu
				p.menu-label
					| General
				ul.menu-list
					li
						a(href="/dashboard") Consultar Ocorrências
					li
						a(href="/dashboard") Registrar Ocorrências

					li
						a(href="/user").is-active Policiais Cadastrados
		.column.is-main-content(style="width:100%")
			h1(class="title is-1") Usuários
			br
			if messages.erro
				.notification.is-danger
					strong #{messages.erro}
			if messages.info
				.notification.is-success
					strong #{messages.info}
			if lista
				table.table.is-bordered.is-striped.is-narrow.is-hoverable.is-fullwidth
					thead
						tr
							th
								abbr(title='Nome') Nome
							th
								abbr(title='Email') Email
							th
								abbr(title='Matrícula') Matrícula
							th
								abbr(title='Patente') Patente
							th
								abbr(title='Data') Data
							th
								abbr(title='Ações') Ações
					tbody
						each valor in lista
							tr
								th #{valor.name}
								th #{valor.email}
								th #{valor.matricula}
								th #{valor.patente}
								th #{moment(valor.date).format('DD/MM/YYYY - HH:MM:ss')}
								th 
									a.button.is-info(href='/profile/#{valor._id}')
										span.icon
											i.far.fa-newspaper
									span &nbsp;
									a.button.is-primary(href='/edit/#{valor._id}')
										span.icon
											i.far.fa-bookmark
									span &nbsp;
									if valor._id == logged_id
										form(method="POST", action="/delete/#{valor._id}", role="form", style="display: inline-block", id="excluir-btn")
											button.button.is-danger(type="submit" ) Delete
									else
										form(method="POST", action="/delete/#{valor._id}", role="form", style="display: inline-block", id="excluir-btn")
											button.button.is-danger(type="submit") Delete


			else
				p Nenhum Dado encontrado				
