extends ../layout_clean

block content
	.container(style="width:85%; max-width: 450px; padding-top: 5%")
		h1(class="title is-1") Register
		p(class="subtitle is-5") Register your account
		br
		if messages.erro
			.notification.is-danger
				each msg in messages.erro
					strong #{msg}
					br
			br
		form(method="POST", action="register", role="form")
			.field
				label.label Name
				.control
					if dados
						input.input(type='text',name="name", placeholder='João Silva', value="#{dados.name}", required)
					else
						input.input(type='text',name="name", placeholder='João Silva', value="", autofocus, required)
			.field
				label.label Patente
				.control
					if dados
						input.input(type='text',name="patente", placeholder='Sargento', value="#{dados.patente}", required)
					else
						input.input(type='text',name="patente", placeholder='Sargento', value="", autofocus, required)
			.field
				label.label Idade
				.control
					if dados
						input.input(type='number',name="idade", placeholder='25', value="#{dados.idade}", required)
					else
						input.input(type='number',name="idade", placeholder='25', value="", autofocus, required)
			.field
				label.label Matrícula
				.control
					if dados
						input.input(type='number',name="matricula", placeholder='1234567', value="#{dados.matricula}", required)
					else
						input.input(type='number',name="matricula", placeholder='1234567', value="", autofocus, required)

			.field
				label.label Email
				.control.has-icons-left.has-icons-right
					if dados
						input.input(type='email', name="email", placeholder='joao.silva@host',value="#{dados.email}", required)
						span.icon.is-small.is-left
							i.fas.fa-envelope
						span.icon.is-small.is-right
							i.fas.fa-exclamation-triangle
					else
						input.input(type='email', name="email", placeholder='joao.silva@host',value="",required)
						span.icon.is-small.is-left
							i.fas.fa-envelope
						span.icon.is-small.is-right
							i.fas.fa-exclamation-triangle
			.field
				label.label Password
				p.control.has-icons-left
					if dados
						input.input(type='password', name="password", placeholder='Password', autofocus, required)
						span.icon.is-small.is-left
							i.fas.fa-lock
					else
						input.input(type='password', name="password", placeholder='Password', required)
						span.icon.is-small.is-left
							i.fas.fa-lock

			.field
				p.control.has-icons-left
					input.input(type='password', name="passwordconfirmed", placeholder='Confirm password', required)
					span.icon.is-small.is-left
						i.fas.fa-lock
			.field.is-grouped
				.control
					button.button.is-primary(type="submit") Submit

