extends ../layout

block content
	h1(class="title is-1") Equipamentos
	br
	if messages.erro
		.notification.is-danger
			strong #{messages.erro}
	if messages.info
		.notification.is-success
			strong #{messages.info}
	if lista
		table.table.is-bordered.is-striped.is-narrow.is-hoverable.is-fullwidth
			thead
				tr
					th
						abbr(title='ID') ID
					th
						abbr(title='Nome') Número de Série
					th
						abbr(title='Email') CNPJ
					th
						abbr(title='Email') Data
					th
						abbr(title='Email') Ações
			tbody
				each valor in lista
					tr
						th #{valor._id}
						th #{valor.nserie}
						th #{valor.cnpj}
						th #{moment(valor.date).format('DD/MM/YYYY - HH:MM:ss')}
						th 
							a.button.is-info(href='/equip/profile/#{valor._id}')
								span.icon
									i.far.fa-newspaper
							span &nbsp;
							a.button.is-primary(href='/equip/edit/#{valor._id}')
								span.icon
									i.far.fa-bookmark
							span &nbsp;
							a.button.is-success(href='/med/#{valor._id}')
								span.icon
									i.fas.fa-plus
							span &nbsp;
							form(method="POST", action="/equip/delete/#{valor._id}", role="form", style="display: inline-block", id="excluir-btn")
								button.button.is-danger(type="submit") Delete


	else
		p Nenhum Dado encontrado				
